<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <mvc:annotation-driven/>
	<context:component-scan base-package="com.chen.test" />
	
	<!--这个很重要，如果不配置这个那么DispatcherServlet中配置的就是应该有后缀的
	否则连基本的jsp文件也会被拦截 
	<mvc:default-servlet-handler/>
	-->
	<!--  -->
	
	<!-- 由于使用了这样的spring2.0+的注解@Controller 和 @RequestMapping 
		所以，处理器映射使用默认的DefaultAnnotationHandlerMapping
		处理器适配器使用AnnotationMethodHandlerAdapter
	-->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
	    <property name="useDefaultSuffixPattern" value="false" />
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	</bean>
	
	
	<!-- <mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" /> -->
	<!-- 试图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	   <property name="prefix" value="/views/jsp/"/>
	   <property name="suffix" value=".jsp"/>
	</bean>
	<!-- 异常解析器 -->
	<bean id="singpleMapingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">
					common/fileerror
				</prop>
			</props>
		</property>
	</bean>
	
	
</beans>
